---
import meta from "./index";
import CodeBlock from "@/internal-components/code-block.astro";
import PreviewAndCodeTabs from "@/internal-components/preview-and-code-tabs.astro";
import ColorizedTextStyleLetterPreview from "./previews/colorized-text-style-letter-preview";
import ColorizedTextStyleLetterPreviewCode from "./previews/colorized-text-style-letter-preview?raw";
---

<div class="example">
  <h3>Customize letter color</h3>
  <PreviewAndCodeTabs>
    <div class="preview" slot="preview">
      <ColorizedTextStyleLetterPreview client:visible />
    </div>
    <div slot="code">
      <CodeBlock
        code={ColorizedTextStyleLetterPreviewCode}
        lang="jsx"
        fileName={meta.key}
      />
    </div>
  </PreviewAndCodeTabs>
</div>