---
import TableWrapper from "@/internal-components/table-wrapper.astro";
const { propsDocument } = Astro.props;
const PropsDocComponent = propsDocument.component;
---

<section class="props">
  <h2>Props</h2>
  <p>Configure the component with the following props:</p>
  {
    propsDocument.isCustom ? (
      <>
        <br />
        <PropsDocComponent />
      </>
    ) : (
      <TableWrapper>
        <PropsDocComponent />
      </TableWrapper>
    )
  }
</section>
