.text-emerge-animation {
  --animation-duration: 0;

  position: relative;

  > span {
    opacity: 0;
    filter: blur(20px);
    animation: text-emerge-keyframes var(--animation-duration) ease-in-out forwards;

    &.visible {
      opacity: 1;
      filter: blur(0px);
      animation: none;
    }
  }
  > .sr-only {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    white-space: nowrap;
    border: 0;
    animation: none;
  }
}

@keyframes text-emerge-keyframes {
  0% {
    opacity: 0;
    filter: blur(20px);
  }
  100% {
    opacity: 1;
    filter: blur(0px);
  }
}