.circular-list {
  --orbit-border-color: #ddd;

  width: calc(var(--radius) * 2);
  height: calc(var(--radius) * 2);

  @media (prefers-color-scheme: dark) {
    --orbit-border-color: #222;
  }

  >.orbit {
    position: relative;
    width: 100%;
    height: 100%;

    border: 1px solid var(--orbit-border-color);
    border-radius: 50%;

    animation-duration: var(--duration);
    animation-timing-function: linear;
    animation-iteration-count: infinite;

    &.rotate-clockwise {
      animation-name: circular-list-keyframes;

      &.rotation-lock {
        >span {
          animation-direction: reverse;
        }
      }
    }

    &.rotate-anti-clockwise {
      animation-name: circular-list-keyframes;
      animation-direction: reverse;
    }

    &.pause-on-hover {
      &:hover {
        animation-play-state: paused;
      }
    }

    &.rotation-lock {
      >span {
        animation-name: circular-list-rotatation-lock-keyframes;
        animation-duration: var(--duration);
        animation-timing-function: linear;
        animation-iteration-count: infinite;
      }
    }

    >span {
      position: absolute;
      top: 50%;
      left: 50%;
      transform-origin: 50% 50%;
      transform:
        translate(calc(-50% + var(--x)), calc(-50% + var(--y)))
        rotate(var(--angle));
      display: inline-block;
      line-height: 0;
    }
  }
}

@keyframes circular-list-keyframes {
  from {
    transform: rotate(var(0));
  }

  to {
    transform: rotate(360deg);
  }
}

@keyframes circular-list-rotatation-lock-keyframes {
  from {
    transform:
      translate(calc(-50% + var(--x)), calc(-50% + var(--y)))
      rotate(0deg);
  }

  to {
    transform:
      translate(calc(-50% + var(--x)), calc(-50% + var(--y)))
      rotate(360deg);
  }
}