@import "tailwindcss";
@custom-variant dark (&:where([data-theme=dark], [data-theme=dark] *));

* {
  scrollbar-width: thin;
  scrollbar-color: #9ca3af transparent;
}
::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}
::-webkit-scrollbar-track {
  background: transparent;
}
::-webkit-scrollbar-thumb {
  background: #9ca3af; /* gray-400 */
  border-radius: 9999px;
}
::-webkit-scrollbar-thumb:hover {
  background: #6b7280; /* gray-500 */
}

@layer components {
  /* MDX Table */
  .mdx-table table {
    @apply w-max min-w-full border-collapse text-gray-900 dark:text-gray-300;
  }
  .mdx-table thead,
  .mdx-table td {
    @apply border-b border-zinc-200 dark:border-zinc-800;
  }
  .mdx-table th {
    @apply text-left font-semibold;
  }
  .mdx-table tr:last-child td {
    @apply border-0;
  }
  .mdx-table th,
  .mdx-table td {
    @apply p-[12px] max-w-[480px];
  }
  .mdx-table tbody tr:hover {
    @apply bg-gray-50 dark:bg-zinc-900/40;
  }
  .mdx-table code {
    @apply text-sm inline-block break-all bg-zinc-200 dark:bg-zinc-800 px-[4px] py-[2px] m-[1px] rounded;
  }
}