---
import getUniqueId from "@/lib/get-unique-id";
import { Icon } from "astro-icon/components";

const tabId = getUniqueId('code-preview-tab');
---
<div class="static-tabs" id={tabId}>
  <div class="head">
    <button class="tab active">
      <Icon aria-hidden={true} name="eye" />
      <span>Preview</span>      
    </button>
    <button class="tab">
      <Icon aria-hidden={true} name="code" />
      <span>Code</span>
    </button>
  </div>
  <div class="body">
    <div class="tab-panel active">
      <slot name="preview" />
    </div>
    <div class="tab-panel">
      <slot name="code" />
    </div>
  </div>
</div>

<script define:vars={{ tabId }}>
  document.addEventListener("astro:page-load", () => {
    initStaticTabs(tabId);
  });
</script>