<section class="call-to-action landing-page-section">
  <div class="content-container">
    <h2>Start Building Today</h2>
    <p>
      Drop our ready-to-use React components into your project and make your UI
      interactive, engaging, and beautiful
    </p>
    <a href="/components"> Explore Components </a>
  </div>
</section>

<style>
  .call-to-action {
    .content-container {
      text-align: center;

      p {
        margin-bottom: 24px;
      }

      a {
        padding: 16px 20px;
        background: var(--text-primary);
        color: var(--text-inverted-primary);
        display: inline-block;
        border-radius: 8px;
        font-weight: 600;
      }
    }
  }
</style>
