---
import project from "@/config/project";
---

<footer>
  <p>{project.name}@{project.version}</p>
  <p>
    Built by <a href={project.social.github.url} target="_blank">@{project.social.github.handle}</a> with ❤️ for developers.
  </p>
</footer>

<style>
  footer {
    padding: 16px 0;
    border-top: 1px solid var(--border-secondary);
    text-align: center;
    p {
      margin-bottom: 4px;

      &:last-child {
        margin-bottom: 0;
      }
    }
  }
</style>
